@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* 
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background); 
*/

body {
  font-family: var(--font-poppins)
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* .hero-bg {
  background-image: url('./assets/images/pageBg1.jpg;');
} */
